.imageProduct {
    width: 300px;
    height: auto;
}

.about1 {
    width: 300px;
    margin-left: 300px;
}

.cartBody1 {
    z-index: -1;
}

.productDetailsProductImage {
    position: absolute;
    width: 333px;
    height: 417px;
    left: 30px;
    top: 30px;

    background: #646464;
    border-radius: 8px;

}

.productDetails {
    box-sizing: border-box;

    position: relative;
    width: 1119px;
    height: 517px;
    /* left: calc(50% - 1119px/2 + 6.5px); */
    top: 14px;

    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #000000;
    border-radius: 8px;
    
}
.Variation{
    margin-top: 40px;
}

.productDetailsProductName {

    position: relative;
    width: 680px;
    /* height: 7px; */
    left: 400px;
    top: 20px;

    /* main header */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #000000;

}

.productDetailsDscription {
    position: absolute;
    width: 313px;
    height: 33px;
    left: 400px;
    top: 53px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #000000;
}

.productDetailsBrandName {

    position: absolute;
    width: 682px;
    height: 33px;
    left: 400px;
    top: 94px;

    /* header original */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #000000;
}

.productDetailsProductPrice {
    position: absolute;
    width: 606px;
    height: 33px;
    left: 400px;
    top: 135px;

    /* BODY HEADER */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #000000;
}

.productDetailsProductDescription {
    position: absolute;
    width: 687px;
    height: 240px;
    left: 400px;
    top: 75px;

    /* body text */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #000000;
}
.productDetailsAddToCart{
    margin-top: 400px;
    margin-left: 200px;
    margin-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7px;
    background-color: rgb(41, 26, 26);
    border: solid 3px white;
    color: wheat;

}
.productDetailsBuyNow{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7px;
    background-color: red;
    border: solid 3px white;
} 

.productDetailsAddToCart:hover{
    border: solid 3px blue;
}
.productDetailsBuyNow:hover{
    border: solid 3px blue;
}