.sidenav {
   
    /* position: fixed; */
    box-shadow: 5px 10px 50px #706e6e;
    /* overflow: hidden; */
    z-index: 1;
    

}
.logoSideBar{
    color: red;
    font-size: 100px;
    /* size: 500px; */    
}
.side-body{
    margin-bottom: -50px;
    margin-left : -30px;
    /* float: left; */
    background: transparent;

    /* background: linear-gradient(to bottom, #d2dee2, #98a0a3, #98a0a3, #d2dee2); */
}
.side-body-user{
    margin-bottom: 130px;
    margin-left : -30px;
    /* float: left; */
    background: transparent;

    /* background: linear-gradient(to bottom, #d2dee2, #98a0a3, #98a0a3, #d2dee2); */
}
.side-body-vendor{
    margin-bottom: 145px;
    margin-left : -30px;
    /* float: left; */
    background: transparent;

    /* background: linear-gradient(to bottom, #d2dee2, #98a0a3, #98a0a3, #d2dee2); */
}


.sidebar {
    /* background: linear-gradient(to bottom, #62bada, #62bada, #62bada, #62bada); */
    /* background: linear-gradient(to bottom, #d2dee2, #98a0a3, #98a0a3, #d2dee2); */
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 70px;
    padding-right: 50px;
    font-size: small;
    background-color: black;
    color: aliceblue;
   

}


.sidebar:hover {
    /* background: linear-gradient(to bottom ,#58a4c0,#dbe4e7,#dbe4e7,#58a4c0); */
    /* background: linear-gradient(to bottom, #62bada, #dbe4e7, #dbe4e7, #62bada); */
    background: linear-gradient(to bottom, #98a0a3, #dbe4e7, #d2dee2, #98a0a3);
    box-shadow: 5px 10px 50px #706e6e;
    color: #000;

}


.sidebarProfile {
    /* background: linear-gradient(to bottom ,#98a0a3,#dbe4e7,#d2dee2,#98a0a3); */
    margin-top: 0px;
    /* background: transparent; */
    /* text-align: center; */
    position: relative ;
    /* padding-left: 80px; */
    font-size: small;
    background-color: #000;
    color: antiquewhite;
    
}

.link {
    text-decoration: none;
    color: rgb(35, 72, 107);
    display: block;
    /* position: relative; */
    /* background-color: red; */
    /* margin: 0px; */
    /* font-size: medium; */
}

.link:hover {
    text-decoration: none;
    color: rgb(185, 88, 8)
}

.sidebarLogo {
    /* padding-top: 0px; */
    margin-left: -35px;
    position: absolute;
}

.sidebarImg {
    border-radius: 10px;
    /* margin-left: -80px; */
    width: 100px;

}
#profile{
    display: inline;
    position: absolute;
    margin-top: -50px;
    margin-left: 60px;
}
#name{
    /* text-align: left; */
    font-size: small;
    
}
#post{
    /* text-align: left; */
    font-size: small;
}

.mar-gin{
    padding-bottom: 100px;
}

@media (max-width: 480px){
    
    .side-body{
        margin-bottom: 180px;
        margin-left : -29px;
        margin-top: -400px;
       
    
        /* background: linear-gradient(to bottom, #d2dee2, #98a0a3, #98a0a3, #d2dee2); */
    }

    .side-body-user{
        margin-bottom: 335px;
        margin-left : -30px;
        /* float: left; */
        background: transparent;
    
        /* background: linear-gradient(to bottom, #d2dee2, #98a0a3, #98a0a3, #d2dee2); */
    }

    .side-body-vendor{
        margin-bottom: 345px;
        margin-left : -30px;
        /* float: left; */
        background: transparent;
    
        /* background: linear-gradient(to bottom, #d2dee2, #98a0a3, #98a0a3, #d2dee2); */
    }
    

    .mar-gin{
        padding-bottom: 0px;
        padding-top: -80px;
    }

}
    
