

body {
    margin: 0px;
    padding: 0px;
    
}

.loading {
    background-color: white;
    /* Set the desired background color */
    /* z-index: 1; */
    opacity: 0.1;

}

.loading1 {
    /* opacity: 3; */
    /* position: absolute; */
}

